<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 class="text-center" th:text="${#strings.capitalizeWords(title)}"></h1>
    <div th:fragment="job-list" class="mt-4">
        <th:block th:each="job : ${jobs}">
            <table class="table mx-auto shadow-sm" style="width: 35rem">
                <tbody>
                <tr>
                    <td class="text-center fw-bold" style="width: 40%">ID</td>
                    <td th:text="${job.id}"></td>
                </tr>
                <tr>
                    <td class="text-center fw-bold">Name</td>
                    <td th:text="${job.name}"></td>
                </tr>
                <tr>
                    <td class="text-center fw-bold">Employer</td>
                    <td th:text="${job.employer}"></td>
                </tr>
                <tr>
                    <td class="text-center fw-bold">Location</td>
                    <td th:text="${job.location}"></td>
                </tr>
                <tr>
                    <td class="text-center fw-bold">Position Type</td>
                    <td th:text="${job.positionType}"></td>
                </tr>
                <tr>
                    <td class="text-center fw-bold">Skill</td>
                    <td th:text="${job.coreCompetency}"></td>
                </tr>
                </tbody>
            </table>
        </th:block>
    </div>



</div>

</body>
</html>